.pagination-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 79px;
  justify-content: center;
}
@media (max-width: 800px) {
  .pagination-box {
    justify-content: start;
  }
}
