.container-info {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.country-info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
  background-color: #1f1e1e;
}
.border {
  display: flex;
}
p {
  font-size: 22px;
  font-weight: bolder;
}
.border div {
  padding-left: 10px;
}
.flags {
  margin: 0px 60px 0px 14px;
}
.flags img {
  width: 100%;
}
.CoatOfArms {
  display: flex;
  align-items: center;
}
.CoatOfArms img {
  max-width: 105px;
  max-height: 105px;
}
.name-country {
  font-size: 55px;
  max-width: 770px;
}
.info-block div {
  margin: 0px 0px 40px 0px;
}
.info {
  display: flex;
  flex-direction: row;
}
.info p {
  max-width: 400px;
}
.info div {
  margin: 10px 40px 0px 0px;
}

@media (max-width: 920px) {
  .country-info-box {
    display: flex;
    flex-direction: column;
  }
  .flags {
    margin: 10px 0px 0px 0px;
  }
  
  .info {
    flex-direction: column;
  }
  .border {
    flex-direction: column;
  }
  .border div {
    height: 5px;
    padding-left: 90px;
  }
}
