.container-info {
  width: 100%;
  display: flex;
  justify-content: center;
}

.country-info-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 12px;
  background-color: #1f1e1e;
}
.border {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  flex-wrap: wrap;
}
.container-border {
  display: flex;
}
.border button {
  margin-left: 10px;
  font-size: 17px;
  margin-bottom: 2px;
}
p {
  font-size: 22px;
  font-weight: bolder;
}
.language {
  color: rgb(211, 211, 211);
}
.language:hover {
  color: rgb(255, 255, 255);
  text-decoration: inherit;
}
.flags {
  margin: 0px 60px 0px 14px;
}
.flags img {
  width: 100%;
}
.coatofarms-box {
  display: flex;
  align-items: center;
}
.coatofarms-box img {
  max-width: 300px;
  max-height: 350px;
  margin-right: 15px;
  margin-left: 40px;
}
.name-country {
  font-size: 55px;
  max-width: 770px;
}
.info-block div {
  margin: 0px 0px 40px 0px;
}
.info {
  display: flex;
  flex-direction: row;
}
.info p {
  max-width: 400px;
}
.info div {
  margin: 10px 40px 0px 0px;
}
.container_CountryInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 920px) {
  .country-info-box {
    display: flex;
    flex-direction: column;
  }
  
  .flags {
    margin: 10px 1n0px 0px 10px;
  }
  .info {
    flex-direction: column;
  }
  .info div {
    padding-left: 10px;
    margin: 10px 0px 0px 0px;
  }
  .coatofarms-box img {
    margin-top: 5px;
    margin-left: 15px;
  }
}
